[submodule "xmip-core-transport-file"]
	path = file
	url = https://github.com/IlleNilsson/xmip-core-transport-file.git
[submodule "xmip-core-transport-tcp"]
	path = tcp
	url = https://github.com/IlleNilsson/xmip-core-transport-tcp.git
[submodule "xmip-core-transport-udp"]
	path = udp
	url = https://github.com/IlleNilsson/xmip-core-transport-udp.git
[submodule "xmip-core-transport-http"]
	path = http
	url = https://github.com/IlleNilsson/xmip-core-transport-http.git
[submodule "xmip-core-transport-smtp"]
	path = smtp
	url = https://github.com/IlleNilsson/xmip-core-transport-smtp.git
[submodule "xmip-core-transport-websocket"]
	path = websocket
	url = https://github.com/IlleNilsson/xmip-core-transport-websocket.git
[submodule "xmip-core-transport-mllp"]
	path = mllp
	url = https://github.com/IlleNilsson/xmip-core-transport-mllp.git
[submodule "xmip-core-transport-modbus"]
	path = modbus
	url = https://github.com/IlleNilsson/xmip-core-transport-modbus.git
[submodule "xmip-core-transport-bacnet"]
	path = bacnet
	url = https://github.com/IlleNilsson/xmip-core-transport-bacnet.git
[submodule "xmip-core-transport-serial"]
	path = serial
	url = https://github.com/IlleNilsson/xmip-core-transport-serial.git
[submodule "xmip-core-transport-can-bus"]
	path = can-bus
	url = https://github.com/IlleNilsson/xmip-core-transport-can-bus.git
[submodule "mqtt"]
	path = mqtt
	url = https://github.com/IlleNilsson/xmip-core-transport-mqtt.git
[submodule "nats"]
	path = nats
	url = https://github.com/IlleNilsson/xmip-core-transport-nats.git
[submodule "syslog"]
	path = syslog
	url = https://github.com/IlleNilsson/xmip-core-transport-syslog.git
[submodule "coap"]
	path = coap
	url = https://github.com/IlleNilsson/xmip-core-transport-coap.git
[submodule "ftp"]
	path = ftp
	url = https://github.com/IlleNilsson/xmip-core-transport-ftp.git
[submodule "pop3"]
	path = pop3
	url = https://github.com/IlleNilsson/xmip-core-transport-pop3.git
[submodule "redis-streams"]
	path = redis-streams
	url = https://github.com/IlleNilsson/xmip-core-transport-redis-streams.git
[submodule "dns"]
	path = dns
	url = https://github.com/IlleNilsson/xmip-core-transport-dns.git
[submodule "imap"]
	path = imap
	url = https://github.com/IlleNilsson/xmip-core-transport-imap.git
[submodule "amqp"]
	path = amqp
	url = https://github.com/IlleNilsson/xmip-core-transport-amqp.git
[submodule "iec-60870-5-104"]
	path = iec-60870-5-104
	url = https://github.com/IlleNilsson/xmip-core-transport-iec-60870-5-104.git
[submodule "dnp3"]
	path = dnp3
	url = https://github.com/IlleNilsson/xmip-core-transport-dnp3.git
[submodule "kafka"]
	path = kafka
	url = https://github.com/IlleNilsson/xmip-core-transport-kafka.git
[submodule "cotp"]
	path = cotp
	url = https://github.com/IlleNilsson/xmip-core-transport-cotp.git
[submodule "s7comm"]
	path = s7comm
	url = https://github.com/IlleNilsson/xmip-core-transport-s7comm.git
[submodule "secs-gem"]
	path = secs-gem
	url = https://github.com/IlleNilsson/xmip-core-transport-secs-gem.git
[submodule "snmp"]
	path = snmp
	url = https://github.com/IlleNilsson/xmip-core-transport-snmp.git
[submodule "ssdp"]
	path = ssdp
	url = https://github.com/IlleNilsson/xmip-core-transport-ssdp.git
[submodule "mdns"]
	path = mdns
	url = https://github.com/IlleNilsson/xmip-core-transport-mdns.git
[submodule "dhcp"]
	path = dhcp
	url = https://github.com/IlleNilsson/xmip-core-transport-dhcp.git
[submodule "webdav"]
	path = webdav
	url = https://github.com/IlleNilsson/xmip-core-transport-webdav.git
[submodule "activemq"]
	path = activemq
	url = https://github.com/IlleNilsson/xmip-core-transport-activemq.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/IlleNilsson/xmip-core-transport-rabbitmq.git
[submodule "nats-jetstream"]
	path = nats-jetstream
	url = https://github.com/IlleNilsson/xmip-core-transport-nats-jetstream.git
[submodule "redpanda"]
	path = redpanda
	url = https://github.com/IlleNilsson/xmip-core-transport-redpanda.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/IlleNilsson/xmip-core-transport-postgresql.git
[submodule "s3"]
	path = s3
	url = https://github.com/IlleNilsson/xmip-core-transport-s3.git
[submodule "azure-blob"]
	path = azure-blob
	url = https://github.com/IlleNilsson/xmip-core-transport-azure-blob.git
[submodule "google-cloud-storage"]
	path = google-cloud-storage
	url = https://github.com/IlleNilsson/xmip-core-transport-google-cloud-storage.git
[submodule "xmip-core-transport-mssql"]
	path = mssql
	url = https://github.com/IlleNilsson/xmip-core-transport-mssql.git
[submodule "xmip-core-transport-mysql"]
	path = mysql
	url = https://github.com/IlleNilsson/xmip-core-transport-mysql.git
[submodule "xmip-core-transport-as2"]
	path = as2
	url = https://github.com/IlleNilsson/xmip-core-transport-as2.git
[submodule "xmip-core-transport-as4"]
	path = as4
	url = https://github.com/IlleNilsson/xmip-core-transport-as4.git
[submodule "xmip-core-transport-sftp"]
	path = sftp
	url = https://github.com/IlleNilsson/xmip-core-transport-sftp.git
[submodule "xmip-core-transport-aws-kinesis"]
	path = aws-kinesis
	url = https://github.com/IlleNilsson/xmip-core-transport-aws-kinesis.git
[submodule "xmip-core-transport-bluetooth"]
	path = bluetooth
	url = https://github.com/IlleNilsson/xmip-core-transport-bluetooth.git
[submodule "xmip-core-transport-canopen"]
	path = canopen
	url = https://github.com/IlleNilsson/xmip-core-transport-canopen.git
[submodule "xmip-core-transport-dds"]
	path = dds
	url = https://github.com/IlleNilsson/xmip-core-transport-dds.git
[submodule "xmip-core-transport-dicom"]
	path = dicom
	url = https://github.com/IlleNilsson/xmip-core-transport-dicom.git
[submodule "xmip-core-transport-ethercat"]
	path = ethercat
	url = https://github.com/IlleNilsson/xmip-core-transport-ethercat.git
[submodule "xmip-core-transport-ethernet"]
	path = ethernet
	url = https://github.com/IlleNilsson/xmip-core-transport-ethernet.git
[submodule "xmip-core-transport-ethernet-ip"]
	path = ethernet-ip
	url = https://github.com/IlleNilsson/xmip-core-transport-ethernet-ip.git
[submodule "xmip-core-transport-hart"]
	path = hart
	url = https://github.com/IlleNilsson/xmip-core-transport-hart.git
[submodule "xmip-core-transport-iec-61850"]
	path = iec-61850
	url = https://github.com/IlleNilsson/xmip-core-transport-iec-61850.git
[submodule "xmip-core-transport-io-link"]
	path = io-link
	url = https://github.com/IlleNilsson/xmip-core-transport-io-link.git
[submodule "xmip-core-transport-iso-tp"]
	path = iso-tp
	url = https://github.com/IlleNilsson/xmip-core-transport-iso-tp.git
[submodule "xmip-core-transport-j1939"]
	path = j1939
	url = https://github.com/IlleNilsson/xmip-core-transport-j1939.git
[submodule "xmip-core-transport-knx"]
	path = knx
	url = https://github.com/IlleNilsson/xmip-core-transport-knx.git
[submodule "xmip-core-transport-lorawan"]
	path = lorawan
	url = https://github.com/IlleNilsson/xmip-core-transport-lorawan.git
[submodule "xmip-core-transport-m-bus"]
	path = m-bus
	url = https://github.com/IlleNilsson/xmip-core-transport-m-bus.git
[submodule "xmip-core-transport-obd-ii"]
	path = obd-ii
	url = https://github.com/IlleNilsson/xmip-core-transport-obd-ii.git
[submodule "xmip-core-transport-peppol"]
	path = peppol
	url = https://github.com/IlleNilsson/xmip-core-transport-peppol.git
[submodule "xmip-core-transport-profinet"]
	path = profinet
	url = https://github.com/IlleNilsson/xmip-core-transport-profinet.git
[submodule "xmip-core-transport-uds"]
	path = uds
	url = https://github.com/IlleNilsson/xmip-core-transport-uds.git
[submodule "xmip-core-transport-wireless-hart"]
	path = wireless-hart
	url = https://github.com/IlleNilsson/xmip-core-transport-wireless-hart.git
[submodule "xmip-core-transport-wireless-m-bus"]
	path = wireless-m-bus
	url = https://github.com/IlleNilsson/xmip-core-transport-wireless-m-bus.git
[submodule "xmip-core-transport-thread"]
	path = thread
	url = https://github.com/IlleNilsson/xmip-core-transport-thread.git
[submodule "xmip-core-transport-zigbee"]
	path = zigbee
	url = https://github.com/IlleNilsson/xmip-core-transport-zigbee.git
[submodule "xmip-core-transport-aws-sns"]
	path = aws-sns
	url = https://github.com/IlleNilsson/xmip-core-transport-aws-sns.git
[submodule "xmip-core-transport-aws-sqs"]
	path = aws-sqs
	url = https://github.com/IlleNilsson/xmip-core-transport-aws-sqs.git
[submodule "xmip-core-transport-azure-event-grid"]
	path = azure-event-grid
	url = https://github.com/IlleNilsson/xmip-core-transport-azure-event-grid.git
[submodule "xmip-core-transport-azure-event-hubs"]
	path = azure-event-hubs
	url = https://github.com/IlleNilsson/xmip-core-transport-azure-event-hubs.git
[submodule "xmip-core-transport-azure-service-bus"]
	path = azure-service-bus
	url = https://github.com/IlleNilsson/xmip-core-transport-azure-service-bus.git
[submodule "xmip-core-transport-google-pub-sub"]
	path = google-pub-sub
	url = https://github.com/IlleNilsson/xmip-core-transport-google-pub-sub.git
[submodule "xmip-core-transport-ibm-mq"]
	path = ibm-mq
	url = https://github.com/IlleNilsson/xmip-core-transport-ibm-mq.git
[submodule "xmip-core-transport-msmq"]
	path = msmq
	url = https://github.com/IlleNilsson/xmip-core-transport-msmq.git
[submodule "xmip-core-transport-named-pipe"]
	path = named-pipe
	url = https://github.com/IlleNilsson/xmip-core-transport-named-pipe.git
[submodule "xmip-core-transport-nfs"]
	path = nfs
	url = https://github.com/IlleNilsson/xmip-core-transport-nfs.git
[submodule "xmip-core-transport-opc-ua"]
	path = opc-ua
	url = https://github.com/IlleNilsson/xmip-core-transport-opc-ua.git
[submodule "xmip-core-transport-oracle"]
	path = oracle
	url = https://github.com/IlleNilsson/xmip-core-transport-oracle.git
[submodule "xmip-core-transport-smb"]
	path = smb
	url = https://github.com/IlleNilsson/xmip-core-transport-smb.git
[submodule "xmip-core-transport-sqlite"]
	path = sqlite
	url = https://github.com/IlleNilsson/xmip-core-transport-sqlite.git
[submodule "xmip-core-transport-unix-socket"]
	path = unix-socket
	url = https://github.com/IlleNilsson/xmip-core-transport-unix-socket.git
