[submodule "xmip-core-transport-file"]
	path = file
	url = https://github.com/IlleNilsson/xmip-core-transport-file.git
[submodule "xmip-core-transport-tcp"]
	path = tcp
	url = https://github.com/IlleNilsson/xmip-core-transport-tcp.git
[submodule "xmip-core-transport-udp"]
	path = udp
	url = https://github.com/IlleNilsson/xmip-core-transport-udp.git
[submodule "xmip-core-transport-http"]
	path = http
	url = https://github.com/IlleNilsson/xmip-core-transport-http.git
[submodule "xmip-core-transport-smtp"]
	path = smtp
	url = https://github.com/IlleNilsson/xmip-core-transport-smtp.git
[submodule "xmip-core-transport-websocket"]
	path = websocket
	url = https://github.com/IlleNilsson/xmip-core-transport-websocket.git
[submodule "xmip-core-transport-mllp"]
	path = mllp
	url = https://github.com/IlleNilsson/xmip-core-transport-mllp.git
[submodule "xmip-core-transport-modbus"]
	path = modbus
	url = https://github.com/IlleNilsson/xmip-core-transport-modbus.git
[submodule "xmip-core-transport-bacnet"]
	path = bacnet
	url = https://github.com/IlleNilsson/xmip-core-transport-bacnet.git
[submodule "xmip-core-transport-serial"]
	path = serial
	url = https://github.com/IlleNilsson/xmip-core-transport-serial.git
[submodule "xmip-core-transport-can-bus"]
	path = can-bus
	url = https://github.com/IlleNilsson/xmip-core-transport-can-bus.git
[submodule "mqtt"]
	path = mqtt
	url = https://github.com/IlleNilsson/xmip-core-transport-mqtt.git
[submodule "nats"]
	path = nats
	url = https://github.com/IlleNilsson/xmip-core-transport-nats.git
[submodule "syslog"]
	path = syslog
	url = https://github.com/IlleNilsson/xmip-core-transport-syslog.git
[submodule "coap"]
	path = coap
	url = https://github.com/IlleNilsson/xmip-core-transport-coap.git
[submodule "ftp"]
	path = ftp
	url = https://github.com/IlleNilsson/xmip-core-transport-ftp.git
[submodule "pop3"]
	path = pop3
	url = https://github.com/IlleNilsson/xmip-core-transport-pop3.git
[submodule "redis-streams"]
	path = redis-streams
	url = https://github.com/IlleNilsson/xmip-core-transport-redis-streams.git
[submodule "dns"]
	path = dns
	url = https://github.com/IlleNilsson/xmip-core-transport-dns.git
[submodule "imap"]
	path = imap
	url = https://github.com/IlleNilsson/xmip-core-transport-imap.git
[submodule "amqp"]
	path = amqp
	url = https://github.com/IlleNilsson/xmip-core-transport-amqp.git
[submodule "iec-60870-5-104"]
	path = iec-60870-5-104
	url = https://github.com/IlleNilsson/xmip-core-transport-iec-60870-5-104.git
[submodule "dnp3"]
	path = dnp3
	url = https://github.com/IlleNilsson/xmip-core-transport-dnp3.git
[submodule "kafka"]
	path = kafka
	url = https://github.com/IlleNilsson/xmip-core-transport-kafka.git
[submodule "cotp"]
	path = cotp
	url = https://github.com/IlleNilsson/xmip-core-transport-cotp.git
[submodule "s7comm"]
	path = s7comm
	url = https://github.com/IlleNilsson/xmip-core-transport-s7comm.git
[submodule "secs-gem"]
	path = secs-gem
	url = https://github.com/IlleNilsson/xmip-core-transport-secs-gem.git
[submodule "snmp"]
	path = snmp
	url = https://github.com/IlleNilsson/xmip-core-transport-snmp.git
[submodule "ssdp"]
	path = ssdp
	url = https://github.com/IlleNilsson/xmip-core-transport-ssdp.git
[submodule "mdns"]
	path = mdns
	url = https://github.com/IlleNilsson/xmip-core-transport-mdns.git
[submodule "dhcp"]
	path = dhcp
	url = https://github.com/IlleNilsson/xmip-core-transport-dhcp.git
[submodule "webdav"]
	path = webdav
	url = https://github.com/IlleNilsson/xmip-core-transport-webdav.git
[submodule "activemq"]
	path = activemq
	url = https://github.com/IlleNilsson/xmip-core-transport-activemq.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/IlleNilsson/xmip-core-transport-rabbitmq.git
[submodule "nats-jetstream"]
	path = nats-jetstream
	url = https://github.com/IlleNilsson/xmip-core-transport-nats-jetstream.git
[submodule "redpanda"]
	path = redpanda
	url = https://github.com/IlleNilsson/xmip-core-transport-redpanda.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/IlleNilsson/xmip-core-transport-postgresql.git
[submodule "s3"]
	path = s3
	url = https://github.com/IlleNilsson/xmip-core-transport-s3.git
[submodule "azure-blob"]
	path = azure-blob
	url = https://github.com/IlleNilsson/xmip-core-transport-azure-blob.git
[submodule "google-cloud-storage"]
	path = google-cloud-storage
	url = https://github.com/IlleNilsson/xmip-core-transport-google-cloud-storage.git
[submodule "xmip-core-transport-mssql"]
	path = mssql
	url = https://github.com/IlleNilsson/xmip-core-transport-mssql.git
[submodule "xmip-core-transport-mysql"]
	path = mysql
	url = https://github.com/IlleNilsson/xmip-core-transport-mysql.git
